@use '../base.scss';

.projects {
    display: grid;
    place-content: center;
    gap: 30px;
}

.project {
    @include base.card(120px);
}

.projects-latest {
    @include base.card(120px);
    margin-bottom: 100px;
}