@use '../../base.scss';

.footer {
    display: grid;

    grid-template-columns: repeat(auto-fit);
    place-content: center;

    background-color: base.$sec;

    padding-bottom: 20px;
    padding-top: 20px;

    box-shadow: 0px -2px 5px 2px black;
}