@use '../base.scss';

.projects-comp {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    place-content: center;
    gap: 20px;
}

.proj-vid {
    position: relative;
    margin-right: 10px;
}