@use '../../../base.scss';

@keyframes head-anim {
    from {
        opacity: 0;
        width: 2000px;
    }

    to {
        opacity: 1;
        width: 150px;
    }
}

@keyframes head-txt-fade {
    from {
        opacity: 0;
        top: -20px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.head {
    display: flex;
    background-color: base.$sec;

    justify-content: center;
    align-content: center;

    padding-top: 20px;
    padding-bottom: 20px;

    box-shadow: 0px 2px 5px 2px black;
}

.head-space {
    margin-left: 170px;
}

.head-txt {
    position: relative;
    font-size: 60px;
    animation: 0.7s ease-in-out both head-txt-fade;
}

.head-img {
    position: absolute;

    border-radius: 100%;

    margin-left: 10px;
    margin-right: 10px;

    overflow: hidden;

    z-index: 1;

    animation: 0.5s ease-out both head-anim;
}

@media screen and (max-width: 600px) {
    .head-txt {
        overflow: hidden;
        visibility: hidden;
    }

    .head {
        box-shadow: none;
    }
}